<div class="stickNav">


    <div class="header-footer">
        <a class="header-footer">Free island-wide shipping for orders above $50</a>
    </div>
    <div class="navbar ">
        <div class="container">
            <div class="navcontainer">
                <div class="navcomponents" style="width:50% ;">
                    <img [routerLink]="['']" class="brand-logo" src="/assets/TPG_Logo_Nav.webp" alt="logo" aria-hidden="true">
                </div>

                <div class="navcomponents" style="width:40% ;margin-left: auto;">
                    <ul class="navbar-links" *ngIf="!mobile">
                        <li [routerLink]="['']" fragment="about-section" id="nav_about" ><a >About</a></li>
                        <li [routerLink]="['']" fragment="menu-section" id="nav_menu"><a >Menu</a></li>
                        <li [routerLink]="['']" fragment="contact-section" id="nav_contact"><a >Contact</a></li>
                        <!-- <li routerLink="/blog" id="blog_button"><a >Blog</a></li>-->
                        <li  (click)="orderRedirect()" style=" border:1.5px solid #ead8c2;" id="nav_order"><a  style="text-decoration: none;color: #ead8c2;" >Order Now</a></li>
                    </ul>

                    <div *ngIf="mobile" style="margin-left: auto; border:1px solid #ead8c2;">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon class="beige-icon">menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" >
                            <button mat-menu-item>

                                <span [routerLink]="['']" fragment="about-section" id="nav_m_about">About</span>
                            </button>
                            <button mat-menu-item>

                                <span [routerLink]="['']" fragment="menu-section" id="nav_m_menu">Menu</span>
                            </button>
                            <button mat-menu-item>

                                <span [routerLink]="['']" fragment="contact-section" id="nav_m_contact">Contact</span>
                            </button>
                            <button mat-menu-item>

                                <span routerLink="/blog" id="blog_button_mobile">Blog</span>
                            </button>
                            <button mat-menu-item>
                                <a  (click)="orderRedirect()"  style="text-decoration: none;" id="nav_m_order">
                                    <span id="nav_m_order">Order</span>
                                </a>
                                
                            </button>
                        </mat-menu>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>