<div class="section" id="menu-section">
    <div class="container">
        
        <h3 >OUR MENU</h3>
        
        <h2 class="bunketry_header">Bread, brews & beyond</h2>
        <br/>
        <br/>

        <div [ngClass]="!mobile? 'menu_layout' : 'mobile_menu_layout'">

            <div class="menu_carousel" [ngClass]="!mobile? '' : 'mobile_menu_carousel'"  >
                <app-image-carousel [mobile]="mobile" [counter]="counter"></app-image-carousel>
            </div>
            
            <div [ngClass]="!mobile? 'menu' : 'mobile_menu'">
                <div [ngClass]="!mobile? 'menu_items' : 'mobile_menu_items'">
                    <div [ngClass]="!mobile? 'menu_colum' : 'mobile_menu_colum'">
                        <h3>BAKES</h3>

                        <table>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Sourdough &#40;approx 380g&#41;</td>

                            </tr>
                            <ng-container *ngFor="let Sourdough of getSourdoughs">
                                <tr>
                                    <td class="menu_item">{{Sourdough.name}}</td>
                                    <td class="menu_price">{{Sourdough.price}}</td>
                                </tr>
                                
                            </ng-container>
            
                            <br/>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Milk bread &#40;approx 380g&#41;</td>

                            </tr>
                            <ng-container *ngFor="let Milkbread of getMilkbreads">
                                <tr>
                                    <td class="menu_item">{{Milkbread.name}}</td>
                                    <td class="menu_price">{{Milkbread.price}}</td>
                                </tr>
                                
                            </ng-container>
                            <br/>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Tea Cakes</td>

                            </tr>
                            <ng-container *ngFor="let TeaCake of getTeaCakes">
                                <tr>
                                    <td class="menu_item">{{TeaCake.name}}</td>
                                    <td class="menu_price">{{TeaCake.price}}</td>
                                </tr>
                            </ng-container>
                            
                        </table>
                        <br/>
                        <br/>
                        <h3>BUTTERS, DIPS AND SPREADS</h3>
                        <table>
  
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Butter &#40;approx 100g&#41;</td>
                            </tr>
                            <ng-container *ngFor="let Butter of getButters">
                                <tr>
                                    <td class="menu_item">{{Butter.name}}</td>
                                    <td class="menu_price">{{Butter.price}}</td>
                                </tr>
                            </ng-container>
                            <br/>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Dips & Spread</td>
                            </tr>
                            <ng-container *ngFor="let Dip of getDips">
                                <tr>
                                    <td class="menu_item">{{Dip.name}}</td>
                                    <td class="menu_price">{{Dip.price}}</td>
                                </tr>
                            </ng-container>


                        </table>
                        
                        
                        
                    </div>
 

                    <div [ngClass]="!mobile? 'menu_colum' : 'mobile_menu_colum'">
                        <h3>BREWS</h3>
                        <table>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Kombucha &#40;approx 480ml&#41;</td>

                            </tr>
                            <ng-container *ngFor="let Kombucha of getKombuchas">
                                <tr>
                                    <td class="menu_item">{{Kombucha.name}}</td>
                                    <td class="menu_price">{{Kombucha.price}}</td>
                                </tr>
                            </ng-container>
                            <br/>
                            <tr>
                                <td style="font-weight: bold;">Kefir &#40;approx 240ml&#41;</td>
                            </tr>
                            <ng-container *ngFor="let Kefir of getKefirs">
                                <tr>
                                    <td class="menu_item">{{Kefir.name}}</td>
                                    <td class="menu_price">{{Kefir.price}}</td>
                                </tr>
                            </ng-container>
                        </table>
                        <br />
                        <br />
                        <ng-container *ngIf="getSeasonal.length > 0">
                            <h3>SEASONAL</h3>
                            <table>
                                <tr>
                                    <td class="menu_item" style="font-weight: bold;">Seasonal</td>
    
                                </tr>
                 
                                <ng-container *ngFor="let Seasonal of getSeasonal">
                                    <tr>
                                        <td class="menu_item">{{Seasonal.name}}</td>
                                        <td class="menu_price">{{Seasonal.price}}</td>
                                    </tr>
                                </ng-container>
                                <br/>
                            </table>
                        </ng-container>
                        
                        <div *ngIf="!mobile">
                            
                            <br />
                            <br />
                            <br />
                            <br />
                 
                            <h3>BEYOND</h3>
                            <p>
                                For corporate orders, workshops and events, please contact us directly.
                            </p>
                            
                        </div>
                        
                    </div>
                    
                    <div *ngIf="mobile">

                        <br />
                        <h3>BEYOND</h3>
                        <p>
                            For corporate orders, workshops and events, please contact us directly.
                        </p>
                        <br/>
                    </div>
  
                </div>

                <h2 class="bunketry_header" style="margin-left: auto;padding-bottom: 5px;padding-bottom: 5px;">Prove it yourself!</h2>
                <div style="margin-left: auto;     cursor: pointer;" >
                    <a (click)="orderRedirect()"class="order-button" id="menu_order"> Order Now</a>
                </div>

            </div>

        </div>
    </div>
    <div id="end_menu" height="0" width="0" style="display:none;visibility:hidden">

    </div>
</div>