<div class="section">
    <div class="container">
        
        <h3 >OUR MENU</h3>
        
        <h2 class="bunketry_header">Bread, brews & Beyond</h2>
        <br/>
        <br/>

        <div [ngClass]="!mobile? 'menu_layout' : 'mobile_menu_layout'">

            <div class="menu_carousel" [ngClass]="!mobile? '' : 'mobile_menu_carousel'"  >
                <app-image-carousel [mobile]="mobile" [counter]="counter"></app-image-carousel>
            </div>
            
            <div [ngClass]="!mobile? 'menu' : 'mobile_menu'">
                <div [ngClass]="!mobile? 'menu_items' : 'mobile_menu_items'">
                    <div [ngClass]="!mobile? 'menu_colum' : 'mobile_menu_colum'">
                        <h3>BREADS</h3>

                        <table>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Sourdough &#40;approx 380g&#41;</td>

                            </tr>
                            <tr>
                                <td class="menu_item">Rustic</td>
                                <td class="menu_price">12</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Wholewheat</td>
                                <td class="menu_price">15</td>
                            </tr>
                            <br/>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Milkbread &#40;approx 380g&#41;</td>

                            </tr>
                            <tr>
                                <td class="menu_item">Shokupan</td>
                                <td class="menu_price">12</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Choco-pan</td>
                                <td class="menu_price">15</td>
                            </tr>
                        </table>
                        <div *ngIf="!mobile">
                            
                            <br />
                            <br />
                            <h3>BEYOND</h3>
                            <p>
                                For corporate orders, workshops and events, please contact us directly
                            </p>
                            
                        </div>
                        
                    </div>
 

                    <div [ngClass]="!mobile? 'menu_colum' : 'mobile_menu_colum'">
                        <h3>BREWS</h3>
                        <table>
                            <tr>
                                <td class="menu_item" style="font-weight: bold;">Kombucha &#40;approx 480ml&#41;</td>

                            </tr>
                            <tr>
                                <td class="menu_item">Strawberry</td>
                                <td class="menu_price">12</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Triple Berry</td>
                                <td class="menu_price">14</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Pineapple</td>
                                <td class="menu_price">14</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Passion Fruit</td>
                                <td class="menu_price">16</td>
                            </tr>
                            <br/>
                            <tr>
                                <td style="font-weight: bold;">Kefir &#40;approx 240ml&#41;</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Classic</td>
                                <td class="menu_price">6</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Honey</td>
                                <td class="menu_price">8</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Strawberry</td>
                                <td class="menu_price">8</td>
                            </tr>
                            <tr>
                                <td class="menu_item">Blueberry</td>
                                <td class="menu_price">8</td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="mobile">

                        <br />
                        <h3>BEYOND</h3>
                        <p>
                            For corporate orders, workshops and events, please contact us directly
                        </p>
                        <br/>
                    </div>
  
                </div>

                <h2 class="bunketry_header" style="margin-left: auto;padding-bottom: 5px;padding-bottom: 5px;">Prove it yourself!</h2>
                <div style="margin-left: auto; ">
                    <a href="https://theproofingground.cococart.co/" class="order-button"> Order Now</a>
                </div>

            </div>

        </div>
    </div>