
<header>
  <app-banner></app-banner>
</header>
<div class="smallbreak">
  <br />
</div>
<body>
  <app-navbar [mobile]="mobile"></app-navbar>
  <app-aboutus-card [mobile]="mobile"></app-aboutus-card>
  <app-menu-card [mobile]="mobile" [counter]="counter"></app-menu-card>
  <app-contactus-card [mobile]="mobile"></app-contactus-card>
  <br/>
  <br/>
  <br/>
  <br/>


  
</body>
<footer>
  <p style="color: #ead8c2; font-size: .7rem;">COPYRIGHT &#169;2024, THE PROOFING GROUND. ALL RIGHTS RESERVED.</p>
</footer>
