<div class="section">
    <div class="container" [ngClass]="!mobile? '' : 'mobile_container'">
        <div [ngClass]="!mobile? 'left_container' : 'mobile_left_container'">
            <h3 >GET IN TOUCH</h3>

            <span>
                <img src="/assets/Contact_WA.png" style="object-fit: contain;"> &nbsp; +65 9806 1911</span>
            <br/>
            <span>
                <img src="/assets/Contact_Email.png"  style="object-fit: contain;"> &nbsp; contact&#64;theproofingground.sg</span>
            <br/>
            <span>
                <img src="/assets/Contact_TT.png"  style="object-fit: contain;"> &nbsp; &#64;theproofingground</span>
            <br/>
            <span>
                <img src="/assets/Contact_IG.png"  style="object-fit: contain;"> &nbsp; &#64;theproofingground</span>
            <br/>
        </div>
        <div [ngClass]="!mobile? 'right_container' : 'mobile_right_container'" >
            <div [ngClass]="!mobile? 'right_container_padding' : ''">
                <h3 >PICK UP AND DELIVERIES</h3>
                <p>To collect your order, please head to Bedok Reservoir &#40;MRT DT30, Blue Line Exit A&#41;. Free delivery for orders above $50</p>
                <br/>
                <h3 >CORPORATE AND GROUP ORDERS</h3>
                <p>Proofing happiness for customer from:</p>
                <div class="customer_panel">
                    <img src="/assets/Review_Google.png"> 
                    <img src="/assets/Review_Meta.png"> 
                    <img src="/assets/Review_Asia.png"> 
                </div>
            </div>
            
        </div>
        
    </div>
</div>