<div class="section" id="about-section">
    <div class="container">

        <div class="desktop_card">
            <div [ngClass]="!mobile? 'desktop_caption_container' : 'mobile_caption_container'">
                <h3 *ngIf="!mobile">ABOUT US</h3>
                <br />
                <br />
                <br />
                <h2 class="bunketry_header">Hearty, healthy, homely</h2>
                <br />
                <div [ngClass]="!mobile? 'desktop_caption_text' : 'mobile_caption_text'">
                    <p>The Proofing Ground embraces the warmth of home to norish hearts and palates, and prove that
                        quality always goes beyond. Enjoy our hand-kneaded sourdough and shokupan milk bread with
                        curated compound butters, or indulge in our probiotic-rich kombucha and milk kefir - all freshly
                        made on order</p>
                </div>


            </div>
            <div [ngClass]="!mobile? 'desktop_image' : 'mobile_image'">
                <img src="/assets/About_816x499.png">
            </div>
            <h3 *ngIf="mobile" style="margin-right: auto;">ABOUT US</h3>
        </div>


    </div>
    <div id="end_about" height="0" width="0" style="display:none;visibility:hidden">

    </div>

</div>
<br />

<div >
    <app-aboutus-carousel [mobile]="mobile"></app-aboutus-carousel>

</div>