.section{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
img{

    object-fit: contain;
    width: 100%;
    height: 100%
}
.desktop_card{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.desktop_caption_container{
    width: 40%;
}
.desktop_caption_text{
    width: 60%;
}
.desktop_image{
    width: 60%;
}

.mobile_caption_container{
    width: 100%;
}
.mobile_caption_text{
    width: 100%;
}
.mobile_image{
    width: 100%;
}

